<div>
    <div data-aos="zoom-in" data-aos-delay="250"
        class="position-absolute top-50 start-50 translate-middle d-flex justify-content-around align-items-center d-flex flex-wrap">
        <p class="text-danger" style="margin-right: 1rem; font-size: 6rem;">ATHENA</p>
        <p class="text-primary" style="margin-right: 1rem; font-size: 1.5rem; margin-top: 2.5rem;">GAME</p>
        <img src="./assets/images/icon.png" class="rounded" alt="Athena" style="max-width: 160px;">
    </div>
</div>

<style>

</style>

<script>
setTimeout(() => {
    app.setLocation('#/about')
}, 3000);
</script>