<div>
    <div data-aos="zoom-in" data-aos-delay="250"
        class="position-absolute top-50 start-50 translate-middle  d-flex flex-column justify-content-around align-items-center d-flex flex-wrap">
        <img src="./assets/images/ep3/1.jpg" class="rounded pygif" alt="Athena"
            style="max-width: 720px; max-height: 720px;">
    </div>
</div>

<style>

</style>

<script>
    $(function () {
        setTimeout(() => {
            $('.pygif').attr('src', './assets/images/ep3/2.jpg');
            setTimeout(() => {
                $('.pygif').attr('src', './assets/images/ep3/3.jpg');
                setTimeout(() => {
                    $('.pygif').attr('src', './assets/images/ep3/4.jpg');
                    setTimeout(() => {
                        $('.pygif').attr('src', './assets/images/ep3/5.jpg');
                        setTimeout(() => {
                            $('.pygif').attr('src', './assets/images/ep3/6.jpg');
                            setTimeout(() => {
                                $('.pygif').attr('src', './assets/images/ep3/7.jpg');
                                setTimeout(() => {
                                    $('.pygif').attr('src', './assets/images/ep3/8.jpg');
                                    setTimeout(() => {
                                        $('.pygif').attr('src', './assets/images/ep3/9.jpg');
                                        setTimeout(() => {
                                            $('.pygif').attr('src', './assets/images/ep3/10.jpg');
                                            setTimeout(() => {
                                                $('.pygif').attr('src', './assets/images/ep3/11.jpg');
                                                setTimeout(() => {
                                                    $('.pygif').attr('src', './assets/images/ep3/12.jpg');
                                                    setTimeout(() => {
                                                        $('.pygif').attr('src', './assets/images/ep3/13.jpg');
                                                        setTimeout(() => {
                                                            $('.pygif').attr('src', './assets/images/ep3/14.jpg');
                                                            setTimeout(() => {
                                                                $('.pygif').attr('src', './assets/images/ep3/15.jpg');
                                                                setTimeout(() => {
                                                                    $('.pygif').attr('src', './assets/images/ep3/16.jpg');
                                                                    setTimeout(() => {
                                                                        $('.pygif').attr('src', './assets/images/ep3/17.jpg');
                                                                        setTimeout(() => {
                                                                            $('.pygif').attr('src', './assets/images/ep3/18.jpg');
                                                                            setTimeout(() => {
                                                                                $('.pygif').attr('src', './assets/images/ep3/19.jpg');
                                                                                setTimeout(() => {
                                                                                    $('.pygif').attr('src', './assets/images/ep3/20.jpg');
                                                                                    setTimeout(() => {
                                                                                        $('.pygif').attr('src', './assets/images/ep3/21.jpg');
                                                                                        setTimeout(() => {
                                                                                            $('.pygif').attr('src', './assets/images/ep3/22.jpg');
                                                                                            setTimeout(() => {
                                                                                                $('.pygif').attr('src', './assets/images/ep3/23.jpg');
                                                                                                setTimeout(() => {
                                                                                                    $('.pygif').attr('src', './assets/images/ep3/24.jpg');
                                                                                                    setTimeout(() => {
                                                                                                        $('.pygif').attr('src', './assets/images/ep3/25.jpg');
                                                                                                        setTimeout(() => {
                                                                                                            $('.pygif').attr('src', './assets/images/ep3/26.jpg');
                                                                                                            setTimeout(() => {
                                                                                                                $('.pygif').attr('src', './assets/images/ep3/27.jpg');
                                                                                                                setTimeout(() => {
                                                                                                                    $('.pygif').attr('src', './assets/images/ep3/28.jpg');
                                                                                                                    setTimeout(() => {
                                                                                                                        $('.pygif').attr('src', './assets/images/ep3/29.jpg');
                                                                                                                        setTimeout(() => {
                                                                                                                            $('.pygif').attr('src', './assets/images/ep3/30.jpg');
                                                                                                                            setTimeout(() => {
                                                                                                                                $('.pygif').attr('src', './assets/images/ep3/31.jpg');
                                                                                                                                 app.setLocation('#/start-law-question-2')
                                                                                                                            }, 2500);
                                                                                                                        }, 2500);
                                                                                                                    }, 2500);
                                                                                                                }, 2500);
                                                                                                            }, 2500);
                                                                                                        }, 2500);
                                                                                                    }, 2500);
                                                                                                }, 2500);
                                                                                            }, 2500);
                                                                                        }, 2500);
                                                                                    }, 2500);
                                                                                }, 2500);
                                                                            }, 2500);
                                                                        }, 2500);
                                                                    }, 2500);
                                                                }, 2500);
                                                            }, 2500);
                                                        }, 2500);
                                                    }, 2500);
                                                }, 2500);
                                            }, 2500);
                                        }, 2500);
                                    }, 2500);
                                }, 2500);
                            }, 2500);
                        }, 2500);
                    }, 2500);
                }, 2500);
            }, 2500);
        }, 2500);
    });
</script>