<div>
    <div data-aos="zoom-in" data-aos-delay="250"
        class="position-absolute top-50 start-50 translate-middle  d-flex flex-column justify-content-around align-items-center d-flex flex-wrap">
        <img src="./assets/images/gifs/ep2/1.gif" class="rounded pygif" alt="Athena" style="max-width: 420px;">

        <div class="row d-flex justify-content-evenly " style="width: 375px;">
                <button onclick="app.setLocation('#/collect-ep1')" style="min-width: 5rem; max-width: 160px;" type="button" class="fs-6 btn btn-outline-secondary">ย้อนกลับ</button>
                <button onclick="app.setLocation('#/second-set-2')" style="min-width: 5rem; max-width: 160px;" type="button" class="fs-6 btn btn-outline-success">ถัดไป</button>
        </div>

    </div>
</div>

<style>

</style>

<script>
   
</script>