<div>
    <div data-aos="zoom-in" data-aos-delay="250"
        class="position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-around align-items-center d-flex flex-wrap">
        <img src="./assets/images/gifs/intro/2.gif" class="rounded" alt="Athena" style="max-width: 420px;">

        <div class="row d-flex justify-content-evenly " style="width: 375px;">
            <button onclick="app.setLocation('#/start-set-1')"
                style="min-width: 5rem; max-width: 160px; margin-top: 1rem;" type="button"
                class="fs-6 btn btn-outline-success">ถ้าพร้อมแล้ว กดที่นี้</button>
            <button onclick="{
                    console.log('qr code');
                    Swal.fire({
                        imageUrl: './assets/images/qrcode.png',
                        width: 290,
                        imageWidth: 290,
                        imageHeight: 290,
                        showCloseButton: true,
                        showConfirmButton: false,
                    })
                }" style="min-width: 5rem; max-width: 160px; margin-top: 1rem;" type="button"
                class="fs-6 btn btn-outline-secondary">รับ QR CODE กดที่นี้</button>
        </div>
    </div>
</div>

<style>
    /* .swal-wide {
        width: 850px !important;
    } */
</style>

<script>

</script>