<div>
    <div data-aos="zoom-in" data-aos-delay="250"
        class="position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-around align-items-center d-flex flex-wrap">
        <img src="./assets/images/top.png" class="rounded" alt="Athena" style="max-width: 360px;">
        <p class="fs-1">INTERACTIVE VIDEO</p>
        <p class="fs-3">1. ทุกคนที่กำลังชมวีดีโอนี้ สามารถโต้ตอบกับวีดีโอของพวกเราได้ด้วยนะ !</p>
        <p class="fs-3">2. โดยวีดีโอของพวหเราจะมีปุ่มกด มาให้ทุกคนได้เลือกตอบคำถาม</p>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button onclick="app.setLocation('#/start-set-1')" class="btn btn-primary" type="button"><span class="fs-4">ถ้าพร้อมแล้ว กดที่นี้</span></button>
        </div>
    </div>
</div>

<style>

</style>

<script>

</script>