<div>
    <div data-aos="zoom-in" data-aos-delay="250"
        class="position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-around align-items-center d-flex flex-wrap">
        <img id="shw" src="./assets/images/gifs/ep2/collect/1.gif" class="rounded pointer pygif" alt="Athena"
            style="max-width: 360px;">
        <div class="row d-flex justify-content-evenly " style="width: 400px;">
            <button onclick="app.setLocation('#/answer-ep2')" style="min-width: 5rem; max-width: 160px; margin-top: 1rem;" type="button"
                class="fs-6 btn btn-outline-secondary">ย้อนกลับ</button>
            <button onclick="app.setLocation('#/about')" style="min-width: 5rem; max-width: 160px; margin-top: 1rem;"
                type="button" class="fs-6 btn btn-outline-success">หน้าแรก</button>
        </div>
    </div>
</div>

<style>

</style>

<script>

</script>