<div>
    <div data-aos="zoom-in" data-aos-delay="250"
        class="position-absolute top-50 start-50 translate-middle  d-flex flex-column justify-content-around align-items-center d-flex flex-wrap">
        <h1 class="mb-3">จะกดลบข้อมูลไหม ?</h1>
        <div class="row d-flex justify-content-evenly " style="width: 375px;">
            <button onclick="app.setLocation('#/delete'); $state.deleteAction=true;"
                style="min-width: 5rem; max-width: 160px;" type="button"
                class="fs-6 btn btn-outline-success">ลบ</button>
            <button onclick="app.setLocation('#/no-delete'); $state.deleteAction=false;"
                style="min-width: 5rem; max-width: 160px;" type="button"
                class="fs-6 btn btn-outline-danger">ไม่ลบ</button>
        </div>

    </div>
</div>

<style>

</style>

<script>

</script>