<div>
    <div data-aos="zoom-in" data-aos-delay="250"
        class="position-absolute top-50 start-50 translate-middle  d-flex flex-column justify-content-around align-items-center d-flex flex-wrap">
        <img src="./assets/images/no-delete/1.jpg" class="rounded pygif" alt="Athena"
            style="max-width: 720px; max-height: 720px;">
    </div>
</div>

<style>

</style>

<script>
    $(function () {
        setTimeout(() => {
        app.setLocation('#/start-set-2')
    }, 2500);
    });
</script>